# Biome configuration
biome.json

# Build output
dist

# Firebase configuration
firebase.json
*.firebaserc
*.firebase/hosting.ZGlzdA.cache
.env.local

# JavaScript configuration
jsconfig.json

# Node.js dependencies
node_modules

# Package lock file
package-lock.json

# Package file
package.json

# Public files
public
.idea


# Vite configuration
vite.config.js
