html,
body,
.default-layout {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.default-layout {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
}

.main-aside {
  flex-shrink: 0;
  width: 18.438rem;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  background-color: #ffffff;
}
